.footer61-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer61-max-width {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 32px;
}
.footer61-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-image1 {
  height: 2rem;
}
.footer61-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer61-container1 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer61-text-input {
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer61-links {
  gap: 32px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer61-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer61-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-link4 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer61-credits {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer61-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer61-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer61-text {
  display: inline-block;
}
.footer61-text01 {
  display: inline-block;
}
.footer61-text02 {
  display: inline-block;
}
.footer61-text03 {
  display: inline-block;
}
.footer61-text04 {
  display: inline-block;
}
.footer61-text05 {
  display: inline-block;
}
.footer61-text06 {
  display: inline-block;
}
.footer61-text07 {
  display: inline-block;
}
.footer61-text08 {
  display: inline-block;
}
.footer61-text09 {
  display: inline-block;
}
.footer61-text10 {
  display: inline-block;
}
.footer61-text11 {
  display: inline-block;
}
.footer61-text12 {
  display: inline-block;
}
.footer61-text13 {
  display: inline-block;
}
.footer61-text14 {
  display: inline-block;
}
.footer61-text15 {
  display: inline-block;
}
.footer61-text16 {
  display: inline-block;
}
.footer61-text17 {
  display: inline-block;
}
.footer61-text18 {
  display: inline-block;
}
@media(max-width: 991px) {
  .footer61-newsletter {
    width: 300px;
  }
  .footer61-form {
    width: 100%;
    flex-direction: column;
  }
  .footer61-container1 {
    width: 100%;
  }
  .footer61-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer61-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .footer61-content {
    flex-direction: column;
  }
  .footer61-newsletter {
    width: 100%;
  }
  .footer61-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer61-container1 {
    width: 100%;
  }
  .footer61-button {
    width: 208px;
  }
  .footer61-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer61-column1 {
    align-items: center;
  }
  .footer61-footer-links {
    align-self: center;
  }
  .footer61-column2 {
    align-items: center;
  }
  .footer61-footer-links1 {
    align-self: center;
  }
  .footer61-column3 {
    align-items: center;
  }
  .footer61-social-links {
    align-self: center;
  }
  .footer61-row {
    flex-direction: column;
  }
  .footer61-text06 {
    text-align: center;
  }
  .footer61-text15 {
    text-align: center;
  }
  .footer61-text18 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .footer61-actions {
    width: 100%;
  }
  .footer61-form {
    width: 100%;
    flex-direction: column;
  }
  .footer61-container1 {
    width: 100%;
  }
  .footer61-button {
    width: 100%;
  }
  .footer61-links {
    flex-direction: column;
  }
  .footer61-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer61-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer61-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer61-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer61-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer61-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer61-credits {
    gap: 0;
  }
  .footer61-row {
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .footer61-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
